<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Item</title>
</head>
<body>
    <div id='container'>
        <div>
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
        <div>
            <h1>Create a New Wish List Item</h1>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/create" method="POST">
            {% csrf_token %}
            <div>
                <p>Item/Product: <input type="text" name='item'></p>
            </div>
            <div>
                <input type="submit" value="Add">
            </div>
            </form>
        </div>
    </div>
</body>
</html>